- op: replace
  path: /spec/minReplicas
  value: 3
- op: replace
  path: /spec/maxReplicas
  value: 20
- op: replace
  path: /spec/metrics/0/resource/target/averageUtilization
  value: 70
- op: replace
  path: /spec/metrics/1/resource/target/averageUtilization
  value: 80
